@import '../../style.scss';
.form-container{
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    @include for-phone-only{
        max-width: 300px;
    }
}

input,textarea{
    &.ng-invalid.ng-touched{
        border-color: red;
        &:focus{
            box-shadow: 0 0 0 2px rgb(red, 0.1);
        }
    }
}